.idea/
venv/
export/
driver/
bin/
.bin/
bin_old/
.bin_old/
.local_test/
*chromedriver*
*__pycache__*

*.csv
*.zip
*.log
*.key
*.env

*.bat

.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
node_modules


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
.env.local
